In [1]:
import requests

from bs4 import BeautifulSoup

In [2]:
import pandas as pd

C:\Users\OLANIYI OGUNDELE\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\OLANIYI OGUNDELE\\JUPYTER NOTEBOOKS'

In [4]:
cd "C:\\Users\\OLANIYI OGUNDELE\\Desktop"

C:\Users\OLANIYI OGUNDELE\Desktop

In [ ]:
#THIS CODE SCRAPES ALL THE HOUSES FOR RENT IN LAGOS ON NIGERIANPROPERTYPRO.COM
#Import all necessary libraries
import requests

from bs4 import BeautifulSoup
#SCRAPE ALL THE HOUSE DESCRIPTION ON NIGERIAN PROPERTY PRO AND SAVE INTO A FILE
propertydata = pd.DataFrame(columns=["Number of bedroom", "Location","Price"])
url = 'https://nigeriapropertycentre.com/for-rent/lagos'
for page in range(1,1186):
    data = requests.get(url + '?page=' + str(page))
    soup = BeautifulSoup(data.text,"html.parser")
    houses = soup.find_all('div',class_="wp-block-body")
    for house in houses:
        room = house.find('div',class_="wp-block-content clearfix text-xs-left text-sm-left")
        roo = room.find('a',href=True)
        NoOfRoom = roo.find('h4',class_="content-title").text
        Loc = house.find('div',class_="wp-block-content clearfix text-xs-left text-sm-left")
        Loca = Loc.find('address',class_="voffset-bottom-10")
        Location = Loca.find('strong').text
        #if 'Lekki Phase 1' in Location:
        Pri = house.find('div',class_="wp-block-content clearfix text-xs-left text-sm-left")
        Price = Pri.find('span',class_="pull-sm-left").text
        moreinfo = house.find('a',href = True)
        propertydata = pd.concat([propertydata, pd.DataFrame({"Number of bedroom": [NoOfRoom], "Location": [Location], "Price": [Price]})], ignore_index=True)

       #propertydata = propertydata.concat({"Number of bedroom":NoOfRoom, "Location":Location,"Price":Price}, ignore_index=True)

#UPDATED ON 1ST OF DECEMBER , 2023 8:19am

In [8]:
# save the dataframe as a CSV file
propertydata.to_csv('property.csv',index=False)   # index=False to exclude the index column

NameError: name 'propertydata' is not defined

In [5]:
propertydata = pd.read_csv('property.csv')

In [6]:
propertydata['concat'] = propertydata.apply(lambda row: ''.join(map(str, row)), axis=1)

In [7]:
propertydata=propertydata.drop_duplicates(subset='concat')

In [8]:
propertydata = propertydata.drop(columns=['concat'])

In [9]:
propertydata.shape

(15748, 3)

In [10]:
propertydata.head()

,Number of bedroom,Location,Price
0,4 bedroom terraced duplex for rent,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum"
1,2 bedroom flat / apartment for rent,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum"
2,4 bedroom semi-detached duplex for rent,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum"
3,2 bedroom terraced duplex for rent,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum"
4,4 bedroom flat / apartment for rent,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum"

In [11]:
propertydata.describe()

,Number of bedroom,Location,Price
count,15748,15748,15748
unique,149,6716,789
top,2 bedroom flat / apartment for rent,"Lekki Phase 1, Lekki, Lagos","\n₦3,000,000 per annum"
freq,2682,487,683

In [12]:
propertydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15748 entries, 0 to 23437
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Number of bedroom  15748 non-null  object
 1   Location           15748 non-null  object
 2   Price              15748 non-null  object
dtypes: object(3)
memory usage: 492.1+ KB

In [13]:
propertydata.columns

Index(['Number of bedroom', 'Location', 'Price'], dtype='object')

In [14]:
# use str.extract to extract the number of bedrooms and create a new column
propertydata = propertydata.assign(No_of_room=propertydata['Number of bedroom'].str.extract('(\d+)'))
propertydata.head()

,Number of bedroom,Location,Price,No_of_room
0,4 bedroom terraced duplex for rent,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum",4
1,2 bedroom flat / apartment for rent,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum",2
2,4 bedroom semi-detached duplex for rent,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum",4
3,2 bedroom terraced duplex for rent,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum",2
4,4 bedroom flat / apartment for rent,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum",4

In [15]:
# use str.replace to remove the numbers from the Number of bedroom column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('\d+', '', regex=True).str.strip()
propertydata.head(10)

,Number of bedroom,Location,Price,No_of_room
0,bedroom terraced duplex for rent,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum",4
1,bedroom flat / apartment for rent,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum",2
2,bedroom semi-detached duplex for rent,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum",4
3,bedroom terraced duplex for rent,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum",2
4,bedroom flat / apartment for rent,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum",4
5,Self contain (single rooms) for rent,"Royal Pine Estate Orchid, Lekki, Lagos","\n₦900,000 per annum",NaN
6,bedroom terraced duplex for rent,"General Paint, Abraham Adesanya, Ajah, Lagos","\n₦3,000,000 per annum",3
8,bedroom semi-detached duplex for rent,"Lekki Phase 1, Lekki, Lagos","\n₦9,000,000 per annum",4
9,Self contain (single rooms) for rent,"Aguda, Surulere, Lagos","\n₦350,000 per annum",NaN
10,bedroom mini flat (room and parlour) for rent,"Badore, Ajah, Lagos","\n₦1,000,000 per annum",1

In [16]:
# use str.replace to remove the unwanted words from the column(bedroom and for rent)
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('bedroom|for rent', '', regex=True).str.strip()
propertydata.head(20)

,Number of bedroom,Location,Price,No_of_room
0,terraced duplex,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum",4
1,flat / apartment,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum",2
2,semi-detached duplex,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum",4
3,terraced duplex,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum",2
4,flat / apartment,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum",4
5,Self contain (single rooms),"Royal Pine Estate Orchid, Lekki, Lagos","\n₦900,000 per annum",NaN
6,terraced duplex,"General Paint, Abraham Adesanya, Ajah, Lagos","\n₦3,000,000 per annum",3
8,semi-detached duplex,"Lekki Phase 1, Lekki, Lagos","\n₦9,000,000 per annum",4
9,Self contain (single rooms),"Aguda, Surulere, Lagos","\n₦350,000 per annum",NaN
10,mini flat (room and parlour),"Badore, Ajah, Lagos","\n₦1,000,000 per annum",1
11,flat / apartment,"GRA Phase 2, Magodo, Lagos","\n₦3,500,000 per annum",3
12,flat / apartment,"Off Issac John Street, Luxury 6 Units Of Fla...","\n₦8,000,000 per annum",3
13,flat / apartment,"Banana Island Ikoyi Lagos, Banana Island, Ik...","\n₦15,500,000 per annum",3
14,house,"Omole Phase 2, Ikeja, Lagos","\n₦4,500,000 per annum",3
15,flat / apartment,"Royal Palm Estate Badore Addo Ajah Lagos, Aj...","\n₦1,200,000 per annum",2
16,flat / apartment,"Banana Island Road, Close To The Gate, Banan...","\n₦15,000,000 per annum",4
17,terraced duplex,"Lekki, Lagos","\n₦7,500,000 per annum",4
18,terraced duplex,"Abijo, Lekki, Lagos","\n₦2,500,000 per annum",3
19,terraced duplex,"Orchid Road, Lekki, Lagos","\n₦150,000,000 per annum",4
20,mini flat (room and parlour),"Sangotedo, Ajah, Lagos","\n₦100,000 per annum",1

In [17]:
propertydata['Number of bedroom'].unique()

array(['terraced duplex', 'flat / apartment', 'semi-detached duplex',
       'Self contain (single rooms)', 'mini flat (room and parlour)',
       'house', 'detached duplex', 'Office space', 'Shop',
       'semi-detached bungalow', 'Plaza / complex / mall',
       'Flat / apartment', 'commercial property', 'detached bungalow',
       'Commercial property', 'restaurant / bar', 'Commercial land',
       'terraced bungalow', 'Hall', 'Event centre / venue', 'Land',
       'Residential land', 'Mixed-use land', 'Warehouse',
       'Conference / meeting / training room', 'hotel / guest house',
       'Restaurant / bar', 'Hotel / guest house', 'Church', 'Factory',
       'shop', 'Filling station', 'Tank farm', 'block of flats',
       'office space', 'House'], dtype=object)

In [18]:
#i want to delete data for the following type of buildings('House', 'Church', 'Conference room','Factory','School','Tank farm','Hall','Event centre','Hotel','Filling station','Restaurant','Land','Commercial land','Mall','Commercial property','WareHouse', 'Office space', 'Shop')
values_to_drop = ['House', 'Church', 'Conference room','Factory','School','Tank farm','Hall','Event centre','Hotel','Filling station','Restaurant','Land','Commercial land','Mall','Commercial property','WareHouse', 'Office space', 'Shop']
propertydata = propertydata[~propertydata['Number of bedroom'].isin(values_to_drop)]

In [19]:
propertydata['Number of bedroom'].unique()

array(['terraced duplex', 'flat / apartment', 'semi-detached duplex',
       'Self contain (single rooms)', 'mini flat (room and parlour)',
       'house', 'detached duplex', 'semi-detached bungalow',
       'Plaza / complex / mall', 'Flat / apartment',
       'commercial property', 'detached bungalow', 'restaurant / bar',
       'terraced bungalow', 'Event centre / venue', 'Residential land',
       'Mixed-use land', 'Warehouse',
       'Conference / meeting / training room', 'hotel / guest house',
       'Restaurant / bar', 'Hotel / guest house', 'shop',
       'block of flats', 'office space'], dtype=object)

# Replace the duplicate values and give the unique values common names

In [20]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('terraced duplex', 'Duplex', regex=True)

In [21]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Terraced duplex', 'Duplex', regex=True)

In [22]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('semi-detached duplex', 'Duplex', regex=True)

In [23]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('detached duplex', 'Duplex', regex=True)

In [24]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('detached bungalow', 'Bungalow', regex=True)

In [25]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('terraced bungalow', 'Bungalow', regex=True)

In [26]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('semi-detached bungalow', 'Bungalow', regex=True)

In [27]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('flat / apartment', 'Flat', regex=True)

In [28]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Flat / apartment', 'Flat', regex=True)

In [29]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('mini flat \(room and parlour\)', 'Room and Parlour', regex=True)

In [30]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('office space', 'Office space', regex=True)

In [31]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('commercial property', 'Commercial property', regex=True)

In [32]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('house', 'House', regex=True)

In [33]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Plaza / complex / mall', 'Mall', regex=True)

In [34]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Self contain \(single rooms\)', 'Self contain', regex=True)

In [35]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Block of flats', 'Flat', regex=True)

In [36]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('block of flats', 'Flat', regex=True)

In [37]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('hotel / guest house', 'Hotel', regex=True)

In [38]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Hotel / guest house', 'Hotel', regex=True)

In [39]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('restaurant / bar', 'Restaurant', regex=True)

In [40]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Restaurant / bar', 'Restaurant', regex=True)

In [41]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Residential land', 'Land', regex=True)

In [42]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Conference / meeting / training room', 'Conference room', regex=True)

In [43]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('shop', 'Shop', regex=True)

In [44]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Industrial land', 'Land', regex=True)

In [45]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Mixed-use land', 'Land', regex=True)

In [46]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('hotel / guest House', 'Hotel', regex=True)

In [47]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Hotel / guest House','Hotel')

In [48]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('Event centre / venue', 'Event centre', regex=True)

In [49]:
values_to_drop = ['House', 'Church', 'Conference room','Factory','School','Tank farm','Hall','Event centre','Hotel','Filling station','Restaurant','Land','Commercial land','Mall','Commercial property','WareHouse', 'Office space', 'Shop']
propertydata = propertydata[~propertydata['Number of bedroom'].isin(values_to_drop)]

In [50]:
# use str.replace to replace the substring in the "property_type" column
propertydata['Number of bedroom'] = propertydata['Number of bedroom'].str.replace('semi-Bungalow', 'Bungalow', regex=True)

In [51]:
#Renaming the values we are left with five values
propertydata['Number of bedroom'].unique()

array(['Duplex', 'Flat', 'Self contain', 'Room and Parlour', 'Bungalow'],
      dtype=object)

In [52]:
#Rename the number of bedroom column to Structure
propertydata = propertydata.rename(columns={'Number of bedroom': 'Structure'})

In [53]:
#Give the structures a code so the dataset can be used for machine learning
property_mapping = {'Duplex':1, 'Flat':2,'Room and Parlour':3, 'Self contain':4,'Bungalow':5}

In [54]:
propertydata['Structure_code'] = propertydata['Structure'].map(property_mapping)

In [55]:
propertydata.head()

,Structure,Location,Price,No_of_room,Structure_code
0,Duplex,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum",4,1
1,Flat,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum",2,2
2,Duplex,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum",4,1
3,Duplex,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum",2,1
4,Flat,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum",4,2

In [56]:
#Check for null values in the No_of_room column
propertydata['No_of_room'].isnull().sum()

1096

In [57]:
#REPLACE NULL VALUES WITH 0
propertydata['No_of_room'] = propertydata['No_of_room'].fillna(0)

In [58]:
propertydata.head(20)

,Structure,Location,Price,No_of_room,Structure_code
0,Duplex,"Ilupeju Gardens, Ilupeju, Lagos","\n₦7,500,000 per annum",4,1
1,Flat,"Ikate Elegushi, Lekki, Lagos","\n₦4,000,000 per annum",2,2
2,Duplex,"White Sand Estate, Ologolo, Lekki, Lagos","\n₦10,000,000 per annum",4,1
3,Duplex,"Nike Gallery Road, Ikate, Lekki, Lagos","\n₦5,500,000 per annum",2,1
4,Flat,"Victoria Island (VI), Lagos","\n₦28,000,000 per annum",4,2
5,Self contain,"Royal Pine Estate Orchid, Lekki, Lagos","\n₦900,000 per annum",0,4
6,Duplex,"General Paint, Abraham Adesanya, Ajah, Lagos","\n₦3,000,000 per annum",3,1
8,Duplex,"Lekki Phase 1, Lekki, Lagos","\n₦9,000,000 per annum",4,1
9,Self contain,"Aguda, Surulere, Lagos","\n₦350,000 per annum",0,4
10,Room and Parlour,"Badore, Ajah, Lagos","\n₦1,000,000 per annum",1,3
11,Flat,"GRA Phase 2, Magodo, Lagos","\n₦3,500,000 per annum",3,2
12,Flat,"Off Issac John Street, Luxury 6 Units Of Fla...","\n₦8,000,000 per annum",3,2
13,Flat,"Banana Island Ikoyi Lagos, Banana Island, Ik...","\n₦15,500,000 per annum",3,2
15,Flat,"Royal Palm Estate Badore Addo Ajah Lagos, Aj...","\n₦1,200,000 per annum",2,2
16,Flat,"Banana Island Road, Close To The Gate, Banan...","\n₦15,000,000 per annum",4,2
17,Duplex,"Lekki, Lagos","\n₦7,500,000 per annum",4,1
18,Duplex,"Abijo, Lekki, Lagos","\n₦2,500,000 per annum",3,1
19,Duplex,"Orchid Road, Lekki, Lagos","\n₦150,000,000 per annum",4,1
20,Room and Parlour,"Sangotedo, Ajah, Lagos","\n₦100,000 per annum",1,3
23,Duplex,"Lekki Phase 1, Lekki, Lagos","\n₦280,000,000 per annum",4,1

In [59]:
#remove (per square meter / per annum) from the column 
propertydata['Payment_rate'] = propertydata['Price'].str.extract(r'(per square meter / per annum)')

In [60]:
propertydata['Payment_rate'].fillna("per annum", inplace=True)

In [61]:
#propertydata.head(50)

In [62]:
# Remove per square meter from the price column
propertydata['Price'] = propertydata['Price'].str.replace(r'\s*per square meter /', '')

<ipython-input-62-c1ae8c5b1984>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  propertydata['Price'] = propertydata['Price'].str.replace(r'\s*per square meter /', '')

In [63]:
# Remove per annum from the price column

propertydata['Price'] = propertydata['Price'].str.replace(r'\s*per annum', '')

<ipython-input-63-4b47f700772f>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  propertydata['Price'] = propertydata['Price'].str.replace(r'\s*per annum', '')

In [64]:
#values_to_drop = ['per square meter']
#propertydata = propertydata[~propertydata['Payment_rate'].isin(values_to_drop)]

In [65]:
propertydata['Price'] = propertydata['Price'].str.replace('\n', '')

In [66]:
propertydata.head(20)

,Structure,Location,Price,No_of_room,Structure_code,Payment_rate
0,Duplex,"Ilupeju Gardens, Ilupeju, Lagos","₦7,500,000",4,1,per annum
1,Flat,"Ikate Elegushi, Lekki, Lagos","₦4,000,000",2,2,per annum
2,Duplex,"White Sand Estate, Ologolo, Lekki, Lagos","₦10,000,000",4,1,per annum
3,Duplex,"Nike Gallery Road, Ikate, Lekki, Lagos","₦5,500,000",2,1,per annum
4,Flat,"Victoria Island (VI), Lagos","₦28,000,000",4,2,per annum
5,Self contain,"Royal Pine Estate Orchid, Lekki, Lagos","₦900,000",0,4,per annum
6,Duplex,"General Paint, Abraham Adesanya, Ajah, Lagos","₦3,000,000",3,1,per annum
8,Duplex,"Lekki Phase 1, Lekki, Lagos","₦9,000,000",4,1,per annum
9,Self contain,"Aguda, Surulere, Lagos","₦350,000",0,4,per annum
10,Room and Parlour,"Badore, Ajah, Lagos","₦1,000,000",1,3,per annum
11,Flat,"GRA Phase 2, Magodo, Lagos","₦3,500,000",3,2,per annum
12,Flat,"Off Issac John Street, Luxury 6 Units Of Fla...","₦8,000,000",3,2,per annum
13,Flat,"Banana Island Ikoyi Lagos, Banana Island, Ik...","₦15,500,000",3,2,per annum
15,Flat,"Royal Palm Estate Badore Addo Ajah Lagos, Aj...","₦1,200,000",2,2,per annum
16,Flat,"Banana Island Road, Close To The Gate, Banan...","₦15,000,000",4,2,per annum
17,Duplex,"Lekki, Lagos","₦7,500,000",4,1,per annum
18,Duplex,"Abijo, Lekki, Lagos","₦2,500,000",3,1,per annum
19,Duplex,"Orchid Road, Lekki, Lagos","₦150,000,000",4,1,per annum
20,Room and Parlour,"Sangotedo, Ajah, Lagos","₦100,000",1,3,per annum
23,Duplex,"Lekki Phase 1, Lekki, Lagos","₦280,000,000",4,1,per annum

In [67]:
# mapping the addresses to a number so it can be used in machine learning
major_places = [
    "Ikeja", "Apapa", "Surulere", "Yaba","Festac Town", "Badagry",
    "Maryland", "Agege", "Mushin", "Ikorodu", "Oshodi",
    "Magodo", "Ojodu", "Alimosho", "Egbeda", "Bariga", "Ojota", "Gbagada", "Ketu", "Isolo", "Ikotun", "Ojo",
    "Dopemu", "Orile", "Egbe", "Abule-Egba", "Agidingbi", "Ajegunle", "Okota", "Ijora", "Oyingbo", "Ajao Estate",
    "Anthony Village", "Ijegun", "Fadeyi", "Ojodu Berger", "Idimu", "Apapa Wharf", "Itire", "Ogba", "Satellite Town",
    "Agbara", "Ajao Estate", "Ikosi",  "Agungi",  "Alagbado",  "Iganmu",
    "Abule-Egba", "Alausa",  "Ijaiye",  "Isheri",  "Ebute-Metta",  "Iwaya",  "Gbagada Phase 1",  "Ifako", 
    "Idi-Araba",  "Ilupeju",  "Ajeromi",  "Oworonshoki",  "Agbara Industrial Estate",  "Sango-Ota",  "Ijede",  "Ogudu", 
    "Ijesha",  "Ojuelegba",  "FESTAC Link Road",  "Ipaja",  "Oregun",  "Shomolu",  "Adeniran Ogunsanya",
    "Lawanson","Ebutte Metta West","Ikosi-Ketu",  "Obanikoro",  "Iju","Ishaga",  "Ijegun Egba",  "Alapere",  "Ojokoro",  "Jakande",  "Ebute Elefun",  "Isawo",  "Olowora",  "Osapa London", 
    "Oke-Afa",  "Eleganza Industrial City",  "Alagbole",  "Owode Onirin",  "Oke-Odo", 
    "Ikorodu North",  "Agboyi-Ketu",  "Ibeju",  "Okokomaiko",  "Ijegun Ikotun",  "Iponri","Oshodi-Isolo",
    "Oshodi-Isolo Local Government",  "Ilaje",  "Ijesatedo",  "Jakande Estate",  "Amuwo Odofin",  "Iwaya-Onike", 
    "Yaba College of Technology","Iba",  "Owode Elede",  "Oluwole",  "Fadeyi-Igbobi",  "Orile-Iganmu",
    "Aguda",  "Iwaya-Obalende",  "Oworonsoki",  "Ebute Ikorodu",  "Apapa Road",  "Agbado",  "Idale",  "Ibafo",  "Oregun-Ikosi",
    "Ijora Oloye",  "Ilogbo Elegba",  "Agidingbi","Adelabu",  "Iwaya-Iponri",
    "Olowoora",  "Ado-Soba",  "Sabo",  "Agidingbi Ikeja",  "Agboyi",  "Ifako-Gbagada",  "Alaba International Market",  "Agboju",
    "Ayobo","Kosofe","Ejigbo","Ilashe","Victoria Island","Ikoyi","Lekki Phase 1","Banana Island","Oniru","Marina","Eko Atlantic City",
    "Parkview","Osborne Foreshore","Dolphin Estate","Agungi","Victoria Garden City (VGC)","Ajah","Chevron Drive","Sangotedo",
    "Ilasan","Ikate Elegushi","Victoria Island Extension","Adetokunbo Ademola","Idowu Taylor","Awolowo Road","Kingsway Road",
    "Alexander Road","Ahmadu Bello Way","Akin Adesola Street","Bourdillon Road","Ligali Ayorinde Street","Adeola Odeku Street",
    "Ozumba Mbadiwe Avenue","Onikan","Lekki Phase 2","Lekki"
]

In [68]:
address_mapping = {address: index + 1 for index, address in enumerate(major_places)}

In [69]:
address_mapping

{'Ikeja': 1,
 'Apapa': 2,
 'Surulere': 3,
 'Yaba': 4,
 'Festac Town': 5,
 'Badagry': 6,
 'Maryland': 7,
 'Agege': 8,
 'Mushin': 9,
 'Ikorodu': 10,
 'Oshodi': 11,
 'Magodo': 12,
 'Ojodu': 13,
 'Alimosho': 14,
 'Egbeda': 15,
 'Bariga': 16,
 'Ojota': 17,
 'Gbagada': 18,
 'Ketu': 19,
 'Isolo': 20,
 'Ikotun': 21,
 'Ojo': 22,
 'Dopemu': 23,
 'Orile': 24,
 'Egbe': 25,
 'Abule-Egba': 48,
 'Agidingbi': 120,
 'Ajegunle': 28,
 'Okota': 29,
 'Ijora': 30,
 'Oyingbo': 31,
 'Ajao Estate': 43,
 'Anthony Village': 33,
 'Ijegun': 34,
 'Fadeyi': 35,
 'Ojodu Berger': 36,
 'Idimu': 37,
 'Apapa Wharf': 38,
 'Itire': 39,
 'Ogba': 40,
 'Satellite Town': 41,
 'Agbara': 42,
 'Ikosi': 44,
 'Agungi': 145,
 'Alagbado': 46,
 'Iganmu': 47,
 'Alausa': 49,
 'Ijaiye': 50,
 'Isheri': 51,
 'Ebute-Metta': 52,
 'Iwaya': 53,
 'Gbagada Phase 1': 54,
 'Ifako': 55,
 'Idi-Araba': 56,
 'Ilupeju': 57,
 'Ajeromi': 58,
 'Oworonshoki': 59,
 'Agbara Industrial Estate': 60,
 'Sango-Ota': 61,
 'Ijede': 62,
 'Ogudu': 63,
 'Ijesha': 64,
 'Ojuelegba': 65,
 'FESTAC Link Road': 66,
 'Ipaja': 67,
 'Oregun': 68,
 'Shomolu': 69,
 'Adeniran Ogunsanya': 70,
 'Lawanson': 71,
 'Ebutte Metta West': 72,
 'Ikosi-Ketu': 73,
 'Obanikoro': 74,
 'Iju': 75,
 'Ishaga': 76,
 'Ijegun Egba': 77,
 'Alapere': 78,
 'Ojokoro': 79,
 'Jakande': 80,
 'Ebute Elefun': 81,
 'Isawo': 82,
 'Olowora': 83,
 'Osapa London': 84,
 'Oke-Afa': 85,
 'Eleganza Industrial City': 86,
 'Alagbole': 87,
 'Owode Onirin': 88,
 'Oke-Odo': 89,
 'Ikorodu North': 90,
 'Agboyi-Ketu': 91,
 'Ibeju': 92,
 'Okokomaiko': 93,
 'Ijegun Ikotun': 94,
 'Iponri': 95,
 'Oshodi-Isolo': 96,
 'Oshodi-Isolo Local Government': 97,
 'Ilaje': 98,
 'Ijesatedo': 99,
 'Jakande Estate': 100,
 'Amuwo Odofin': 101,
 'Iwaya-Onike': 102,
 'Yaba College of Technology': 103,
 'Iba': 104,
 'Owode Elede': 105,
 'Oluwole': 106,
 'Fadeyi-Igbobi': 107,
 'Orile-Iganmu': 108,
 'Aguda': 109,
 'Iwaya-Obalende': 110,
 'Oworonsoki': 111,
 'Ebute Ikorodu': 112,
 'Apapa Road': 113,
 'Agbado': 114,
 'Idale': 115,
 'Ibafo': 116,
 'Oregun-Ikosi': 117,
 'Ijora Oloye': 118,
 'Ilogbo Elegba': 119,
 'Adelabu': 121,
 'Iwaya-Iponri': 122,
 'Olowoora': 123,
 'Ado-Soba': 124,
 'Sabo': 125,
 'Agidingbi Ikeja': 126,
 'Agboyi': 127,
 'Ifako-Gbagada': 128,
 'Alaba International Market': 129,
 'Agboju': 130,
 'Ayobo': 131,
 'Kosofe': 132,
 'Ejigbo': 133,
 'Ilashe': 134,
 'Victoria Island': 135,
 'Ikoyi': 136,
 'Lekki Phase 1': 137,
 'Banana Island': 138,
 'Oniru': 139,
 'Marina': 140,
 'Eko Atlantic City': 141,
 'Parkview': 142,
 'Osborne Foreshore': 143,
 'Dolphin Estate': 144,
 'Victoria Garden City (VGC)': 146,
 'Ajah': 147,
 'Chevron Drive': 148,
 'Sangotedo': 149,
 'Ilasan': 150,
 'Ikate Elegushi': 151,
 'Victoria Island Extension': 152,
 'Adetokunbo Ademola': 153,
 'Idowu Taylor': 154,
 'Awolowo Road': 155,
 'Kingsway Road': 156,
 'Alexander Road': 157,
 'Ahmadu Bello Way': 158,
 'Akin Adesola Street': 159,
 'Bourdillon Road': 160,
 'Ligali Ayorinde Street': 161,
 'Adeola Odeku Street': 162,
 'Ozumba Mbadiwe Avenue': 163,
 'Onikan': 164,
 'Lekki Phase 2': 165,
 'Lekki': 166}

In [70]:
propertydata['add1'] = propertydata['Location'].apply(lambda x: next((place for place in major_places if place in x), None))

In [71]:
propertydata['Address_Code'] = propertydata['add1'].map(address_mapping)

In [72]:
propertydata = propertydata.drop('Location', axis=1)

In [73]:
propertydata.head(20)

,Structure,Price,No_of_room,Structure_code,Payment_rate,add1,Address_Code
0,Duplex,"₦7,500,000",4,1,per annum,Ilupeju,57.0
1,Flat,"₦4,000,000",2,2,per annum,Ikate Elegushi,151.0
2,Duplex,"₦10,000,000",4,1,per annum,Lekki,166.0
3,Duplex,"₦5,500,000",2,1,per annum,Lekki,166.0
4,Flat,"₦28,000,000",4,2,per annum,Victoria Island,135.0
5,Self contain,"₦900,000",0,4,per annum,Lekki,166.0
6,Duplex,"₦3,000,000",3,1,per annum,Ajah,147.0
8,Duplex,"₦9,000,000",4,1,per annum,Lekki Phase 1,137.0
9,Self contain,"₦350,000",0,4,per annum,Surulere,3.0
10,Room and Parlour,"₦1,000,000",1,3,per annum,Ajah,147.0
11,Flat,"₦3,500,000",3,2,per annum,Magodo,12.0
12,Flat,"₦8,000,000",3,2,per annum,Ikeja,1.0
13,Flat,"₦15,500,000",3,2,per annum,Ikoyi,136.0
15,Flat,"₦1,200,000",2,2,per annum,Ajah,147.0
16,Flat,"₦15,000,000",4,2,per annum,Ikoyi,136.0
17,Duplex,"₦7,500,000",4,1,per annum,Lekki,166.0
18,Duplex,"₦2,500,000",3,1,per annum,Lekki,166.0
19,Duplex,"₦150,000,000",4,1,per annum,Lekki,166.0
20,Room and Parlour,"₦100,000",1,3,per annum,Ajah,147.0
23,Duplex,"₦280,000,000",4,1,per annum,Lekki Phase 1,137.0

In [74]:
propertydata['add1'] = propertydata['add1'].replace({'Lekki Phase 1': 'Lekki', 'Lekki Phase 2': 'Lekki'})

In [75]:
propertydata = propertydata.dropna(subset=['add1', 'Address_Code','Structure_code'])

In [76]:
propertydata.shape

(13110, 7)

In [77]:
propertydata.isnull().sum()

Structure         0
Price             0
No_of_room        0
Structure_code    0
Payment_rate      0
add1              0
Address_Code      0
dtype: int64

In [78]:
propertydata = propertydata[~propertydata['Price'].str.contains('[a-zA-Z]', regex=True, na=False)]

In [79]:
pattern = r'[$₦]'

# Check if the column contains both signs
contains_dollar = propertydata['Price'].str.contains(pattern, regex=True, na=False).any()
contains_naira = propertydata['Price'].str.contains(pattern, regex=True, na=False).any()

# Print the result
if contains_dollar and contains_naira:
    print("The column contains both dollar and naira signs.")
elif contains_dollar:
    print("The column contains only dollar signs.")
elif contains_naira:
    print("The column contains only naira signs.")
else:
    print("The column does not contain either dollar or naira signs.")

The column contains both dollar and naira signs.

In [80]:
propertydata['Naira'] = propertydata['Price'].apply(lambda x: x if x.startswith('₦') else '')
propertydata['Dollar'] = propertydata['Price'].apply(lambda x: x if x.startswith('$') else '')

In [81]:
propertydata['Dollar'] = propertydata['Dollar'] * 750

In [82]:
propertydata['Naira'] = propertydata['Naira'].str.replace('₦', '').str.replace(',', '').str.strip()

In [83]:
propertydata['Dollar'] = propertydata['Dollar'].str.replace('$', '').str.replace(',', '').str.strip()

<ipython-input-83-cfb2db00e402>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  propertydata['Dollar'] = propertydata['Dollar'].str.replace('$', '').str.replace(',', '').str.strip()

In [84]:
propertydata['Price'] = propertydata['Naira'].fillna(0)

In [85]:
#propertydata['Price'] = propertydata['Naira'].fillna(0) + propertydata['Dollar'].fillna(0)

In [86]:
pattern = r'[$₦]'

# Check if the column contains both signs
contains_dollar = propertydata['Price'].str.contains(pattern, regex=True, na=False).any()
contains_naira = propertydata['Price'].str.contains(pattern, regex=True, na=False).any()

# Print the result
if contains_dollar and contains_naira:
    print("The column contains both dollar and naira signs.")
elif contains_dollar:
    print("The column contains only dollar signs.")
elif contains_naira:
    print("The column contains only naira signs.")
else:
    print("The column does not contain either dollar or naira signs.")

The column does not contain either dollar or naira signs.

In [87]:
propertydata.head()

,Structure,Price,No_of_room,Structure_code,Payment_rate,add1,Address_Code,Naira,Dollar
0,Duplex,7500000,4,1,per annum,Ilupeju,57.0,7500000,
1,Flat,4000000,2,2,per annum,Ikate Elegushi,151.0,4000000,
2,Duplex,10000000,4,1,per annum,Lekki,166.0,10000000,
3,Duplex,5500000,2,1,per annum,Lekki,166.0,5500000,
4,Flat,28000000,4,2,per annum,Victoria Island,135.0,28000000,

In [88]:
propertydata['Price'] = propertydata['Price'].astype('float')

In [89]:
propertydata['No_of_room'] = propertydata['No_of_room'].astype('int')

In [90]:
propertydata['No_of_room'].value_counts()

3     3122
2     2903
4     2820
1     2019
0     1056
5      785
6       91
7       19
8       16
10      11
12       9
9        5
16       5
21       3
20       3
24       3
11       3
15       3
18       2
14       2
32       1
19       1
45       1
56       1
35       1
42       1
36       1
37       1
25       1
26       1
Name: No_of_room, dtype: int64

In [91]:
#drop structures with more than 6 rooms
propertydata = propertydata.drop(propertydata[propertydata['No_of_room'] > 6 ].index)

In [92]:
propertydata['Structure'].value_counts()

Flat                5888
Duplex              4084
Room and Parlour    1600
Self contain        1020
Bungalow             204
Name: Structure, dtype: int64

In [93]:
#drop prices that occur once as the tend to be very high and can cause bias in the data
value_counts = propertydata['Price'].value_counts()
values_to_drop = value_counts[value_counts <= 1].index
propertydata = propertydata[~propertydata['Price'].isin(values_to_drop)]

In [94]:
columns_to_drop = ['Naira', 'Dollar']
propertydata = propertydata.drop(columns=columns_to_drop)

In [95]:
propertydata.head()

,Structure,Price,No_of_room,Structure_code,Payment_rate,add1,Address_Code
0,Duplex,7500000.0,4,1,per annum,Ilupeju,57.0
1,Flat,4000000.0,2,2,per annum,Ikate Elegushi,151.0
2,Duplex,10000000.0,4,1,per annum,Lekki,166.0
3,Duplex,5500000.0,2,1,per annum,Lekki,166.0
4,Flat,28000000.0,4,2,per annum,Victoria Island,135.0

In [96]:
new_order = ['No_of_room', 'Structure','Structure_code', 'add1','Address_Code','Price','Payment_rate']
propertydata_cleaned = propertydata[new_order]
propertydata_cleaned.head(20)

,No_of_room,Structure,Structure_code,add1,Address_Code,Price,Payment_rate
0,4,Duplex,1,Ilupeju,57.0,7500000.0,per annum
1,2,Flat,2,Ikate Elegushi,151.0,4000000.0,per annum
2,4,Duplex,1,Lekki,166.0,10000000.0,per annum
3,2,Duplex,1,Lekki,166.0,5500000.0,per annum
4,4,Flat,2,Victoria Island,135.0,28000000.0,per annum
5,0,Self contain,4,Lekki,166.0,900000.0,per annum
6,3,Duplex,1,Ajah,147.0,3000000.0,per annum
8,4,Duplex,1,Lekki,137.0,9000000.0,per annum
9,0,Self contain,4,Surulere,3.0,350000.0,per annum
10,1,Room and Parlour,3,Ajah,147.0,1000000.0,per annum
11,3,Flat,2,Magodo,12.0,3500000.0,per annum
12,3,Flat,2,Ikeja,1.0,8000000.0,per annum
13,3,Flat,2,Ikoyi,136.0,15500000.0,per annum
15,2,Flat,2,Ajah,147.0,1200000.0,per annum
16,4,Flat,2,Ikoyi,136.0,15000000.0,per annum
17,4,Duplex,1,Lekki,166.0,7500000.0,per annum
18,3,Duplex,1,Lekki,166.0,2500000.0,per annum
19,4,Duplex,1,Lekki,166.0,150000000.0,per annum
20,1,Room and Parlour,3,Ajah,147.0,100000.0,per annum
24,4,Duplex,1,Lekki,166.0,7000000.0,per annum

In [97]:
value_counts = propertydata_cleaned['add1'].value_counts()

# Get a list of values that occur at least 10 times
values_to_keep = value_counts[value_counts >= 10].index.tolist()

# Filter the DataFrame to keep rows with values that occur at least 10 times
data = propertydata_cleaned[propertydata_cleaned['add1'].isin(values_to_keep)]

In [100]:
propertydata_cleaned.shape

(12641, 7)

In [99]:
data.to_csv("property_cleaned.csv", index=False)